{% extends 'base.html' %}

{% block title %}
Update Element
{% endblock %}

{% block content %}
<div class="container">
    <h1>Choose Object</h1>
    <form method="get" action="{% url 'choose_object' %}">
        {{ form.as_p }}
        <button type="submit">Choose Object</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tableSelect = document.getElementById('id_table');
        const attributeSelect = document.getElementById('id_attribute');
        
        function capitalize(str) {
            return str.replace(/\b\w/g, function(char) {
                return char.toUpperCase();
            });
        }
        
        function loadAttributes() {
            const selectedTable = tableSelect.value;
            if (selectedTable) {
                fetch(`/get_attributes/?table=${selectedTable}`)
                    .then(response => response.json())
                    .then(data => {
                        while (attributeSelect.firstChild) {
                            attributeSelect.removeChild(attributeSelect.firstChild);
                        }
                        data.attributes.forEach(attribute => {
                            const option = document.createElement('option');
                            option.value = attribute;
                            option.textContent = capitalize(attribute.replace(/_/g, ' '));
                            attributeSelect.appendChild(option);
                        });
                    });
            } else {
                while (attributeSelect.firstChild) {
                    attributeSelect.removeChild(attributeSelect.firstChild);
                }
            }
        }
        
        tableSelect.addEventListener('change', loadAttributes);
        
        loadAttributes();
    });
</script>
{% endblock %}
