{% extends 'base.html' %}

{% block title %}
Insert Object
{% endblock %}

{% block content %}
<div class="container">
    <h1>
        {% if table_name == 'ProjectTeamEmployee' %}
            Add employee to team
        {% else %}
            Create New {{ table_name }}
        {% endif %}
    </h1>
    <form method="post" action="{% url 'insert_table' table_name %}">
        {% csrf_token %}
        {% for field, field_type in form.fields.items %}
            <label for="{{ field }}">{{ field|capfirst }}:</label>
            <input type="text" name="{{ field }}" id="id_{{ field }}" placeholder="{{ field|capfirst }}" required>
            <br>
        {% endfor %}
        <button type="submit">Insert</button>
    </form>
    {% if insert_success %}
        <p>Object with id {{ obj_pk }} inserted successfully.</p>
    {% endif %}
</div>
{% endblock %}
